.name-block {
    font-size: 120%;
    font-family: fantasy;
    margin-bottom: 5em;
}

section {
    background-color: white;
}

footer {
    background-color: blue;
}

footer p {
    color: cornsilk;
    text-align: center;
}

.name-block {
    color: rgb(112, 23, 0);
}
